// Temporary scss...

$coffeCream: rgba(211, 194, 191, 0.5);
$fontFamily: 'Google Sans';

.songCard {
    display: flex;
    background-color: rgb(59, 56, 56);
    font-family: $fontFamily;
    border-bottom: $coffeCream;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    height: 5em;

    &__cover{
        height: 60px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1em;
        margin-right: 1em;
    }


    &__title{
        font-weight: 600;
        color:white;
        align-content: end;
    }

    &__artist {
        color: $coffeCream;
    }

    &__duration{
        align-content: center;
        color: $coffeCream;
        margin-left: auto;
        padding-right: 2em;
    }
}