// Temporary scss...
$stormCloud: #4F666A;
$warmWinds: #6a534f;
$titleFontFamily: 'Audiowide';

body {
    margin: 0;
}

header {
    background-color: $stormCloud;
    height: 6em;
    text-align: right;
    align-content: center;
    
    h1{
        padding-right: 1em;
        color: white;
        font-family: $titleFontFamily;
        cursor: pointer;
    }
}

.header {
    &__vanity{
        width: 100%;
        height: 12px;
        margin: 0;
        background-color: $warmWinds;
    }
}